.git
__pycache__/
*/__pycache__/
.pytest_cache/

Datasets/300dpi/
Datasets/groundtruth/
Datasets/lines_bootstrap/
Datasets/lines_aligned/
Datasets/easyocr_cache/
Datasets/manifests/
checkpoints/
checkpoints_2/
*.pth
training_history*
final_metrics.json
onnx_models/

.streamlit/secrets.toml
